.sidebar{
    display: flex;
    width: 100vw;
    background-color: rgb(197, 194, 194);
}
.user-details{
     display: flex;
     justify-content: center;
     align-items: center;
   
    /* flex-direction: column;  */
}
.user-details-info{
    display: flex;
    justify-content: center;
    align-items: center;
  
   flex-direction: column; 
}

.user-bio{
    /* text-align: center; */

}